{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-unused-expressions": [0, { "allowShortCircuit": true, "allowTernary": true }],
    "func-names": 0,
  },
  "globals": {
    "describe": true,
    "it": false
  }
}
